@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
  background-color: #9b59b6;
  font-family: 'Cabin', sans-serif;
}

.leftSide, .rightSide {
  display: inline-block;
  vertical-align: top;
  padding: 1%;
}
@media (orientation: landscape) and (min-width: 1000px) {
  p, label {
      font-size: 1.25em;
  }
  #main {
    max-width: 60%;
    margin: 2% auto 2% auto;
  }
  .leftSide {
    text-align: right;
    padding-right: 5%;
    width: 30%;
  }
  .rightSide {
    text-align: left;
    width: 40%;
  }
  input, select {
    height: 1.5em;
    width: 100%;
  }
  #number {
    width: 15%;
  }
  #submit {
    width: 60%;
    background-color: #2ecc71;
    font-size: 2em;
    font-family: 'Cabin', sans-serif;
    border: 0px solid;
    border-radius: 5px;
    margin: 5% auto 5% auto;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  p, label {
      font-size: 1em;
  }
  #main {
    max-width: 60%;
    margin: 2% auto 2% auto;
  }
  .leftSide {
    text-align: right;
    padding-right: 5%;
    width: 30%;
  }
  .rightSide {
    text-align: left;
    width: 40%;
  }
  input, select {
    height: 1.5em;
    width: 100%;
  }
  #number {
    width: 25%;
  }
  #submit {
    width: 60%;
    background-color: #2ecc71;
    font-size: 1.25em;
    font-family: 'Cabin', sans-serif;
    border: 0px solid;
    border-radius: 5px;
    margin: 5% auto 5% auto;
  }
}
@media (orientation: portrait) {
  p, label {
    font-weight: 700;
    font-size: .8em;
  }
  #main {
    max-width: 90%;
    margin: 2% auto 2% auto;
  }
  .leftSide {
    text-align: right;
    padding-right: 5%;
    width: 45%;
  }
  .rightSide {
    text-align: left;
    width: 45%;
  }
  input, select {
    height: 1.5em;
    width: 90%;
  }
  #number {
    width: 25%;
  }
  #submit {
    width: 95%;
    background-color: #2ecc71;
    font-size: 1.25em;
    font-family: 'Cabin', sans-serif;
    border: 0px solid;
    border-radius: 5px;
    margin: 5% auto 5% auto;
  }
}

p {
  padding: 0% 10% 0% 10%;
}

#main {
  background-color: #ecf0f1;
  text-align: center;
  border-radius: .5em;
  padding: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#survey-form {
  background-color: #ecf0f1;
  border-radius: .5em;
  border-style: solid;
  border-color: #bdc3c7;
  margin: 4%;
  padding: 2%;
}

input[type="radio"], input[type="checkbox"] {
  width: 1em;
}

hr {
  margin-top: 8%;
  margin-bottom: 3%;
}

textarea {
  width: 90%;
}